#TheNavbar{
    display: flex;
    text-align: center;
    border-bottom: 10px outset #C79A3C;
}
#thetitle{
    width: 200px;
    justify-self: center;

}

#TheFirstTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    text-decoration: underline;
}


li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin : 7px;
    background-color: #001d4c;
    padding:6px;
}
body{
    background-image:url(homebackground.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    padding: 0px;
    border: 0px;
    margin:0px;
}
nav {
    background-color: #000F28;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 5rem;
    color:#d39e17;
}

#Homelink {
    display:flex;  
    padding:0px;
    border:0px;
}
.navbutton {
    background-color: #000F28;
    border: none;
    cursor: pointer;
}
.menucontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    top:55px;
    }

.menucontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
      }
.show {
    display:block !important;
}
.dropdown{
    display: flex;
    position: relative;
}
.dropdown a:hover {
    background-color: #ddd;}

html{
    font-family: 'Cardo', serif !important;
    color: #C79A3C !important;
}
#charactersmenu{
    background-color: #020627 !important;
}
.chara:hover{
    background-color: #072885 !important;
}
.ListOfCharacters{
    display: flex;
    flex-direction: column;
    margin-right:32%;
    margin-left:32%;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

/* --------------------- Footer CSS --------------------- */

.footerLine {
    margin-top: auto;
    border: 0;
    height: 5px;
    background-color: #C79A3C;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #000F28;
    color: white;
    z-index: 2;
}

.footerDiv {
    margin-top: 35px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.footerLink, .footerLink:visited {
    color: #C79A3C;
    text-decoration: none;
    text-shadow: 5px 5px 10px maroon, 0 0 3em white, 0 0 0.5em #C79A3C;

}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*#facebook, #twitter {
    padding: 25px 150px;0
}*/

.footerText {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px 10px maroon, 0 0 3em white, 0 0 0.5em #C79A3C;
    color: #C79A3C;
}

@media screen and (min-width:800px) {
    body{
        background-image:url(homebackground2.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

/* CSS pour l'heure et la date */

#date_hour {

    display: flex;
    align-items: center;

}